.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 50%;
	padding: 10px 20px;
	float: left;
}

.cbp-mc-form input{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 15px;
	padding: 5px 10px;
	color: #333;
	display: block;
	width: 100%;
	background: transparent;
	border: 1px solid #333;
	margin-bottom: 4px;
}

/*.cbp-mc-form input:focus{
	outline: none;
	box-shadow: 0 0 3px #333;
}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 20px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	border: none;
	padding: 0.6em 1.2em;
	background: #fff;
	color: #333;
	border: 2px solid #333;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	width: 30%;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #333;
	color: #fff;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}